@*@page
@using CrowdFoundAppTeam3.Domain;
@model CrowdFoundAppTeam3.Pages.Backers.IndexModel
@{
    ViewData["Title"] = "Backers";
}

<h1>Backers</h1>
<a class="btn btn-primary" asp-page="Create">Add New</a>

<table class="table">
    <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    </thead>
    <tbody>
        @foreach (Backer backer in CrowdFoundAppTeam3.Pages.Backers.IndexModel.Backers)
        {
            <tr>
                <td>@backer.FirstName</td>
                <td>@backer.LastName</td>
                <td>@backer.Email</td>
            </tr>
        }
    </tbody>
</table>
*@
